

# ==============================
# IDE / Editor files
# ==============================
.vscode/

# ==============================
# Environment and credentials
# ==============================
.env
.env.local

vendor/
uploads/
pages/uploads/
*.pdf
*.docx
sitemap.xml
*.zip
