   .maroon-bg { background-color: #800000; }
        .maroon-text { color: #800000; }
        .brown-text { color: #3e2723; }
        .blue-text { color: #003366; }
        .maroon-border { border-color: #800000; }
        .gold-bg { background-color: #FFD700; }
   